PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_HOST/?retryWrites=true&w=majority
DB_NAME=shoes_db
CLIENT_ORIGIN=http://localhost:3000
EMAIL_USER=officalreportsdep@gmail.com
EMAIL_PASS=jtzhuezzcnqvqdfy

